

.adminNewsFrame{
    min-width: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.adminNewsBar{

    width: 100%;
    background-color: #5D98EB;
    color:#fff;
    top:0%;
    height: 5%;
    position: relative;
    border-bottom: 1px solid #CFCFCF;
    text-align: left;
    text-indent: 2em;
    line-height: 2em;
    font-family: Arial;
    z-index: 1;
}

.adminNewsMenu{

    background-color: #F7F7F7;
    border-right: 1px solid #CFCFCF;
    width: 15%;
    position: relative;
    height: 100%;
    top:0%;
    overflow: hidden;
    float:left;
    font-size: 0.95em;
}

.adminNewsMenu img{

    width: 100%;
}

.adminNewsMenu .list-group{

    background-color: inherit;
    width: 90%;

}

.adminNewsMenuHelper{
    position: fixed;
    z-index:0;
}

.adminNewsContent{
    margin-top: 1em;
    width: 79%;
    position: relative;
    float:right;
    overflow: hidden;
    padding-bottom: 10%;
}


.adminNewsFormInputs input, .adminNewsFormInputs textarea{
    padding: 4px 12px;
    font-size: 0.9em;
    line-height: 1.5em;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
   
}

.inpError{
    color: #F42F28;
}

table.adminNewsFormInputs td{

    padding: 10px 0;
}

.adminNewsFormButton{
    background-color: #50FA85;
    border: 1px solid #CFCFCF;
    font-size: 1em;
    border-radius: 0px;
    padding: 10px 30px;
    transition: background-color 0.1s ease;
    border-radius: 4px;
}

.adminNewsFormButton:hover {
  background-color: #07A538;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.5);
  cursor: pointer;
  font-size: 18;
  
}