*{
    margin:0;
    padding: 0;
 }

div .header{
    background: #2980B9;
    color: #FFF !important;
}
div .userId, .userId2{
    position:absolute;
    right:70px;
}
div .userId{
    top: 10px; }
div .userId2{
    top: 85px; 
}

h1 b{
    top: 20px; 
    color: #FFF !important;
  }

div .bottomshead{
    position:absolute;
    top: 7px; 
    right:20px;
}
.carousel-logo2{
    position: absolute;
    width: 150px; 
    height: 63px;
    left: 100px;
    z-index: 1;
    top: 39px; 
}   

    /*#2471A3;*/
.carousel-logo1{
    position: absolute;
    width: 80px; 
    height: 63px;
    left: 50px;
    z-index: 1;
    top: -3px; 
}   

body .menu{
    background: #85C1E9;
}