/* old color 337AB7 */

#carouselIUT{
   /*border-top:1.5em solid #3C8BD0;*/
}

body{
    color:#555;
    overflow-x: hidden;
}



#column-right{
     padding-top:0.3ex;
}

.carousel{
  width:100%;
  max-height: 420px !important;
  overflow: hidden;

}

.carousel-inner .item img{
    margin-top:-15%;
    width: 100%;
}

.carousel-logo{
    position: absolute;
    background-color: #3C8BD0;
    z-index: 1;
    box-shadow: 0 0 217px rgba(0,0,0,0.5);
}   

.logo{
    min-width:170px;
    width: 10%;
    max-width:200px;
    height: auto;
    background-color: #3C8BD0;
    z-index: 1;
    padding-left: 20px;
    margin-right: 20px;
    margin-left: 4%;
} 

.carousel-title{
    color:white;
    position: absolute;
    z-index: 1;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.navbar{
    background-color: #3C8BD0;
    border-radius: 0 !important;
    margin-top: 0;
    border:0;
    box-shadow: 0 0 27px rgba(0,0,0,0.5);
    /*box-shadow: 0px 3px 0px #b81e1e;*/
}

.navbar-nav > li > a{
    color: #FFF !important;
}

.navbar-nav .divider-text{
 
    padding-left: 1ex;
}

.navbar-nav > li a:hover, .navbar-nav > li.open a{
    color: #111 !important;
    background-color: white !important;
}

.navbar-nav > li > .dropdown-menu{
    background-color: white !important;
    min-width: 100% !important;
    margin-top: -1px;
    border-radius: 0 !important;
    border:0;
}

.navbar-nav > li > .dropdown-menu > li > a:hover{
    background-color: lightgray !important;
}

#footer{
    padding: 1em 0;
    color: #FFF !important;
    bottom: 0;
    width: 100%;
    background-color: #3C8BD0;
    display: block;
    line-height: 2em;
    box-shadow: 0 0 27px rgba(0,0,0,0.5);
}

#footer .border-right{
    text-align: right;
    border-right: 1px solid rgba(255,255,255,0.1);
}

#footer .border-left{
    text-align: left;
    border-left: 1px solid rgba(255,255,255,0.1);
}

#footer .border-top{
    margin-top: 1em;
    padding-top: 1em;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.1);
}

#footer a:link, #footer a:visited{
    color:inherit;
}

#footer .copy{
    line-height: 1em;
}

#footer{
    padding-bottom: 1em;
}

.content{
     margin-bottom: 1em;
}

.media-new img{
    width: 7em;
}

.img-new{
    width: auto;
    float:left; 
    margin: 0 1em 1em 0;
    cursor: pointer;
    
}

.img-new img{
    max-height: 17em;
    transition: all 0.2s ease;
     
}

.img-new img:hover{
    max-height: 17.5em;
    margin-left: -0.25em;
}

.carousel-btn-delete{
    padding-top: 0px !important;
    padding-bottom: 0 !important;
    margin-bottom: 1ex;
    font-size: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.menu{
    font-size: 1.2em;
}

.bg-section{
    padding: 0.123em 0 0.123em 0;
    background-color: #3C8BD0;
    color:white;
    padding-left:1em;
}


/*carousel del ministerio */
.texto-carrusel{
    position: absolute;
    top: 0;
    color: white;
    font-size: 0.9em;
    font-family: inherit;
    margin-left: 2em;
    margin-right: 50%;
}

.carousel-inner .item img{
    margin-top: 0;
}