<h2>Departamento de Desarrollo Y Bienestar Estudiantil</h2>

<p><br />
<br />
Departamento de Desarrollo Y Bienestar Estudiantil es el encargado de desarrollar y ejecutar planes, programas y actividades que permitan consolidar las pol&iacute;ticas del estado venezolano y de la instituci&oacute;n, con el fin de elevar el bienestar social y la calidad de vida de las y los estudiantes brind&aacute;ndoles oportunidades y opciones para un desarrollo humano integral, fomentado en los valores: de la vida, la libertad, la justicia, la paz, la igualdad, la solidaridad, la democracia, el respeto, la responsabilidad social, la preeminencia de los derechos humanos y la &eacute;tica, durante el logro de la meta acad&eacute;mica.<br />
<br />
Proporcionar la atenci&oacute;n y los servicios destinados a estimular, canalizar y fortalecer el desarrollo integral de las y los estudiantes.<br />
<br />
Brind&aacute;ndoles la asistencia, asesor&iacute;a y prevenci&oacute;n en las necesidades: sociales, econ&oacute;micas, nutricionales, de salud, alimentaci&oacute;n, acceso a fuentes de documentaci&oacute;n e informaci&oacute;n, y organizaci&oacute;n estudiantil durante el tiempo deformaci&oacute;n acad&eacute;mica en la instituci&oacute;n. Con el prop&oacute;sito de lograr una relaci&oacute;n intr&iacute;nseca entre los y las estudiantes, la instituci&oacute;n y la sociedad, a fin de servir de apoyo en el logro de la Excelencia acad&eacute;mica y profesional.</p>

<h3><a href="#collapseOne">Servicios del Departamento de Desarrollo y Bienestar Estudiantil</a></h3>

<p>Servicio de Nutrici&oacute;n y Diet&eacute;tica</p>

<p>Suministra al estudiante una alimentaci&oacute;n diaria, equilibrada y acorde a sus requerimientos nutricionales.<br />
Asesor&iacute;a Nutricional: Suministra al estudiante orientaci&oacute;n nutricional y tratamiento dieto terap&eacute;utico de acuerdo al diagn&oacute;stico cl&iacute;nico.</p>

<hr />
<p>Servicios Medico</p>

<p>Emprende programas de primeros auxilios, consultas de atenci&oacute;n inmediata, jornadas y evaluaciones de preventivas para la preservaci&oacute;n de la salud. Realiza las consultas programada y prescribe tratamiento a los pacientes seg&uacute;n el correspondiente diagn&oacute;sticos cl&iacute;nico.</p>

<hr />
<p>Servicio De Odontolog&iacute;a</p>

<p>Preserva la salud bucal del estudiante mediante ex&aacute;menes peri&oacute;dicos y acciones preventivas</p>

<hr />
<p>Laboratorio Cl&iacute;nico</p>

<p>Realiza ex&aacute;menes de laboratorio de rutina (Hematolog&iacute;a, heces,orina).</p>

<hr />
<p>FAMES</p>

<p>Son siglas que identifican a la Fundaci&oacute;n de Asistencia Medica Hospitalaria para Estudiantes De Educaci&oacute;n Superior Publica y fue creada para dar servicio de atenci&oacute;n m&eacute;dica inmediata y evaluaciones sanitarias preventivas.</p>

<hr />
<p>Transporte</p>

<p>Rutas: Los Teques, Los Nuevos Teques, San Antonio de los Altos, Catia, Silencio, Caricuao, Chacaito, Petare, Charallave.</p>

<hr />
<p>Biblioteca</p>

<p>Proporciona a la comunidad del instituto una colecci&oacute;n de materiales bibliogr&aacute;ficos que apoya y fortalece el proceso de estudio- aprendizaje en las &aacute;reas de docencia, consulta, investigaci&oacute;n y recreaci&oacute;n.</p>

<hr />
<h3><a href="#collapseTwo">Programas de Apoyo Socioecon&oacute;mico </a></h3>

<p>El Programas de Apoyo Socioecon&oacute;mico es un programa que consiste en la asignaci&oacute;n de una ayuda econ&oacute;mica mensual a los estudiantes, cursantes de una carrera o Plan Nacional de Formaci&oacute;n PNF.</p>

<p>Beca Estudio:</p>

<p>Es la asignaci&oacute;n de una ayuda en econ&oacute;mica, que contribuya a sufragar parcialmente los gastos ocasionados por la demanda acad&eacute;mica de la carrera que cursa en la instituci&oacute;n.</p>

<p>Beca Ayundat&iacute;a:</p>

<p>Beneficio monetario que se otorga al estudiante, a cambio de la prestaci&oacute;n de sus servicios en una dependencia acad&eacute;mica, o administrativa de la instituci&oacute;n.</p>

<p>Preparadurpia:</p>

<p>Aporte econ&oacute;mico que se le otorga al estudiante con competencias acad&eacute;micas en unidades curriculares de alto grado dedificultad deaprendizaje, parabrindar apoyoa otros estudiantes.</p>

<p>Ayudas Eventuales:</p>

<p>Aporte econ&oacute;mico que se le otorga al estudiante de forma eventual, para atender gastos especiales relacionados a su salud f&iacute;sica y mental o su desarrollo acad&eacute;mico.</p>

<p>&nbsp;</p>

<hr />
<h3><a href="#collapseThree">Programa de Atenci&oacute;n a Personas con Dispacidad</a></h3>

<p>Es un programa para el desarrollo transversal de las pol&iacute;ticas de igualdad de derechos y equiparaci&oacute;n de oportunidades a las personas con discapacidad en la educaci&oacute;n universitaria en el marco del respeto a la diversidad. Brindar asesor&iacute;a y orientaci&oacute;n acad&eacute;mica individual y grupal de manera directa y flexible, en el fortalecimiento de la prosecuci&oacute;n de los estudiantes con discapacidad y culminaci&oacute;n acad&eacute;mica.</p>

<hr />