<br>
<center><h2 >Disculpe, por problemas externos la página del IUT no ha podido prestar sus servicios en las últimas horas.<br><br>

Estamos trabajando en la solución...</h2>
    <br>
<h3> 
    <a href="https://twitter.com/iut_frp" style="color: white">
        <i class="fa fa-twitter"></i> @IUT_FRP 
    </a>
</h3>
</center>