    <div id="historia" class="row">
        <div class="col-sm-11 text-justify">
            <h2> Historia </h2>
            <p>
             En la década de los sesenta se reafirma y acelera en Venezuela el proceso de industrialización para responder a la demanda de sustitución de importaciones. Este dinámico proceso de industrialización plantea la imperiosa necesidad de formar recursos humanos a nivel superior, de sólida preparación técnica y teórica, que actúen competentemente como enlace entre los cuadros profesionales universitarios de carreras largas y los cuadros de trabajadores calificados de nivel medio de los distintos sectores de la economía nacional, como elemento multiplicador de la productividad y como participante en el proceso de adecuación y generación de tecnología, esta necesidad planteó un verdadero reto al Sistema de Educación Superior Venezolano.
            Como respuesta a esa necesidad y reto se crea el seis de enero de 1971 el Instituto Universitario de Tecnología de la Región Capital, primero en su género y dirigido por su fundador el doctor Federico Rivero Palacio, quien sirvió de inspiración y orientó la evolución de la institución durante once años de productivo y dinámico funcionamiento.
            El Instituto Universitario de Tecnología de la Región Capital constituye una hermosa realización en el ámbito de la Educación Superior Venezolana, y su éxito se debe a la yuxtaposición de la mística, la capacidad y el trabajo de todos y cada uno de sus integrantes y al positivo y sostenido apoyo de organismos públicos y privados.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-11 text-justify">
            <h2> Nuestro Fundador </h2>
            <p>
            <img src="../~iutfrped/public_html/img/dr_federico_rivero_palacios.jpg" class="img-responsive img-new">

            
            El  Dr. Federico Rivero Palacio,  nació en Caracas el 7 de Octubre de 1908. Sus padres fueron Clemencia Palacio Goicochea y Federico Rivero Escudero. En 1933 realizó estudios de Ingeniería en la Universidad Central de Venezuela. Participó en diferentes trabajos, siempre mostrando espíritu emprendedor, fundador y visionario, persiguiendo excelencia y logros en todo momento.
            Entre sus muchas actividades profesionales destacan: Director del Banco Central de Venezuela, Director Gerente del Instituto de Investigaciones Tecnológicas(INVESTI), cofundador de la Universidad Simón Bolívar, fungiendo como Vicerrector Administrativo, fundador de la Oficina Central de Ahorro y Préstamo. Más tarde, se desempeñó como Director principal de EDELCA.
            Durante el primer período presidencial del Dr. Rafael Caldera llevó a cabo el proyecto de creación de los IUT. La culminación de este proyecto lo hizo merecedor de las dos condecoraciones que más apreció: la Legión de Honor en Francia y la Orden de Andrés Bello en su primera clase, como educador. El 12 de Enero de 1971 es nombrado Director del IUT-RC.
            El "Dr. Federico Rivero Palacio" guardaba profundos valores y respeto que trasmitía a sus empleados. Él sabía que el mejoramiento colectivo sólo se logra con el mejoramiento individual; además manifestaba que el talento no debe tener dificultades financieras para evitar la fuga de cerebros. Pensamientos como estos fueron los que inculcó en el quehacer de su vida. Después de una vida llena de logros, de un pleno compartir con su familia y de muchos aportes al país, muere el 16 de Abril de 1988 .
            </p>
        </div>   
    </div>
    <hr>
    <div id="mision" class="row">
        <div class="col-sm-11 text-justify">
            <h2> Misión y Visión </h2>
        <p>
            <b> Misión </b><br><br>
            Formar, Técnicos Superiores Universitarios, Ingenieros, Licenciados  y Especialistas con  conocimiento científico, humanístico y tecnológico al servicio de la sociedad, a través del diseño, desarrollo e implementación de programas de estudios,  investigación y extensión, vinculados a las comunidades y  sectores productivos, con el propósito de impulsar desarrollo económico, político y social del país.
            <br><br>
            <b> Visión </b><br><br>
            Ser una Institución de Educación Universitaria con proyección Local, Regional, Nacional e Internacional, orientada a elevar el nivel de excelencia en la formación tecnológica y  profesional, que contribuya con el desarrollo sustentable de la Nación.
            <br><br>
            <b> Valores y Principios </b> <br><br>
            
                <li>  Democracia Participativa y Protagónica </li>
                <li>  Solidaridad </li>
                <li>  Pertinencia Social </li>
                <li>  Responsabilidad </li>
                <li>  Identidad y Pertenencia </li>
                <li>  Formación Integral para toda la Vida Académica y Social </li>
                <li>  Pensamiento crítico y reflexivo </li>
                <li>  Respeto a los derechos humanos y la bioética </li>
                <li>  Justicia social y equidad </li>
                <li>  Calidad y eficiencia </li>
                <li>  Cultura de paz </li>
            

        </p>
        </div>   
    </div>
    <hr>
    <div id="autoridades" class="row">
        <div class="col-sm-11 text-justify ">
            <h2> Autoridades Académica </h2> <br>
            <h4> Comisión de Modernización y Transformación</h4>  <br>
            
                <table class="table table-bordered text-center table-responsive">
                    <tr>
                        <td colspan="2"> <i class="fa fa-user fa-5x"></i>  </td>

                    </tr>
                    <tr>
                        <td colspan="2">  Dr. Hector Constant <br> Coordinador de la Comisión de Modernización y Transformación <br> Correo: </td>

                    </tr>

                    <tr>
                        <td> <i class="fa fa-user fa-5x"></i>  </td>
                        <td> <i class="fa fa-user fa-5x"></i>  </td>
                    </tr>

                    <tr>
                        <td> Msc. Claudio Ricaurte <br>Miembro  de la Comisión de Modernización y Transformación Responsable del Área Socio Académica <br>Correo:   </td>
                        <td> Dra. Cristina Parra <br> Miembro  de la Comisión de Modernización y Transformación Responsable del Área Socio Administrativa <br> Correo:   </td>
                    </tr>
                </table>  <br>

            <h4>   Jefes  de  Departamentos  y Áreas Académicas</h4>  <br>

                <table class="table table-bordered text-center table-responsive">
                    <tr>
                        <td> <i class="fa fa-user fa-5x"></i>  </td>
                        <td> <i class="fa fa-user fa-5x"></i>  </td>
                        <td> <i class="fa fa-user fa-5x"></i>  </td>
                        <td> <i class="fa fa-user fa-5x"></i>  </td>

                    </tr>
                    <tr>
                        <td> Profa. Lisbeth Urbano<br>Jefe (E) de  Departamento de Administración<br>correo  </td>
                        <td> Profa. Yelitza Flores<br>Jefe (E) de  Departamento de Construcciones Civiles<br>correo  </td>
                        <td> Prof. Franklin Gil<br>Jefe (E) de Departamento de Electricidad<br>correo  </td>
                        <td> Prof. Franklin Gil<br>Jefe (E) de Departamento de Electricidad<br>correo  </td>

                    </tr>

                    <tr>
                        <td> <i class="fa fa-user fa-5x"></i>  </td>
                        <td> <i class="fa fa-user fa-5x"></i>  </td>
                        <td> <i class="fa fa-user fa-5x"></i>  </td>
                        <td> <i class="fa fa-user fa-5x"></i>  </td>
                    </tr>

                    <tr>
                        <td> Prof. William Fuentes <br>Jefe (E) de  Departamento de Procesos Químicos <br>correo  </td>
                        <td> Prof. Emiliano Zapata <br>Jefe (E) de  Departamento de Química <br>correo  </td>
                        <td> Prof. Rodolfo Bazo <br>Jefe (E) de  Departamento de Mecánica <br>correo  </td>
                        <td> Prof. Esteban  Barrios <br>Jefe (E) de  Departamento de Tecnologia de los Materiales <br>correo  </td>
                    </tr>

                     <tr>
                        <td> <i class="fa fa-user fa-5x"></i>  </td>
                        <td> <i class="fa fa-user fa-5x"></i>  </td>
                        <td> <i class="fa fa-user fa-5x"></i>  </td>
                        <td> <i class="fa fa-user fa-5x"></i>  </td>
                    </tr>

                     <tr>
                        <td> Prof. Ivette Sotillo <br>Jefe (E) de  Departamento de Investigación y Postgradoa<br>correo  </td>
                        <td> Prof. Oscar Mayora <br>Jefe (E) de  Departamento de Extensión <br>correo  </td>
                        <td> Prof. José Luque <br> Jefe (E) de  Área  de  Desarrollo Humano <br>correo  </td>
                        <td> Prof. Oswaldo Olivero <br>Jefe (E) de  Área de Deporte <br>correo  </td>
                    </tr>
                     <tr>
                        <td> <i class="fa fa-user fa-5x"></i>  </td>
                    </tr>
                     <tr>
                        <td> Prof. <br>Jefe (E) de  Área de Cultura <br>correo  </td>
                    
                    </tr>


                </table>

        </div>   
    </div>

    
    <div id="estructura" class="row">
        <div class="col-sm-11 text-justify">
            <h2>  Estructura Organizativa </h2>
            <p>
                <b>Consejo Directivo</b> <br><br>

                El Consejo Directivo es la Máxima Autoridad del Instituto Universitario de Tecnología “Dr. Federico Rivero Palacio”,  cuyo objetivo básico es deliberar y tomar decisión con respecto a los principales problemas académicos, administrativos, de extensión e investigación que atañen a la Institución.
               
                <br> <br> <b>Consejo Academico</b> <br><br>

                El Consejo Académico del Instituto Universitario de Tecnología “Dr. Federico Rivero Palacio”, tiene como objetivo estudiar, deliberar y hacer recomendaciones tendentes al mejoramiento de la calidad en los  procesos de enseñanza y aprendizaje en la institución.
                
                <br> <br> <b>Dirección</b> <br><br>

                Ente encargado  de Planificar, dirigir y evaluar las actividades Académicas, de Investigación, Extensión y Administrativas, de acuerdo a los lineamientos establecidos por el Ministerio del Poder Popular para la Educación Universitaria, Ciencia y Tecnología, cumpliendo con el ordenamiento legal para la aplicación de las políticas educativas correspondientes.
                
                <br> <br> <b>Comisión de Contrataciones</b> <br><br>

                Asesorar a la Dirección en la adquisición de bienes, prestación de servicios y ejecución de obras a través de la aplicación de los procedimientos de Contrataciones Públicas, a fin de garantizar la economía, transparencia, eficiencia, honestidad, celeridad y eficacia del proceso, así como el fiel cumplimiento de lo establecido en la Ley de Contrataciones Públicas vigente.
                
                <br> <br> <b>Departamento de Planificación y Desarrollo</b> <br><br>
                
                Elaborar estudios, planes y proyectos a corto, mediano y largo plazo referente a los aspectos de la planificación académica, administrativa y física del Instituto, así mismo éste Departamento se encarga de formular, ejecutar y controlar el presupuesto asignado a la Institución.

            </p>
        </div>   
    </div>

    <div id="calendario" class="row">
        <div class="col-sm-11 text-justify">
            <h2>  Calendario Académico  <a href="http://local.iutfrp.edu.ve/download/Calendario Academico 2015.pub"><small> - Descargar <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> </small></a> </h2> 
            <p>
               
            </p>
        </div>   
    </div>
    

